{% extends 'base.html' %}
{% load static%}

{% block content %}
<section>
    <div class="w-full h-[650px] max-w-[900px] mx-auto px-4 py-4">
        <div class="mb-5">
            <a href="{% url 'item_list' %}" class="rounded bg-white py-1 flex items-center w-fit group">
                <i class='bx bx-chevron-left text-gray-600 group-hover:text-gray-800 text-2xl mr-1'></i>
                <span class="text-sm font-normal text-gray-600 group-hover:text-gray-800 pr-2">Back</span>
            </a>
        </div>

        <div class="mb-4">
            <h2 class="font-medium text-xl text-black">Edit Item</h2>
        </div>

        <form action="{% url 'edit_item' item.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="flex flex-col space-y-3">
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Image</label>
                    <input type="file" name="image" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Image">
                </div>
                <img src="{{ item.image.url }}" alt="" class="w-20 h-14">
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Item Name</label>
                    <input type="text" name="name" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Item name" value="{{ item.name }}">
                </div>
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Description</label>
                    <textarea type="text" name="description" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Description..">
                        {{ item.description }}
                    </textarea>
                </div>
                <div class="w-full flex flex-col z-10">
                    <label class="text-gray-600">Price</label>
                    <input type="number" name="price" class="rounded border border-gray-300 z-10 font-light px-4 py-2" placeholder="Price" value="{{ item.price }}">
                </div>
            </div>
            <button type="submit" class="mt-4 px-4 py-2 text-sm rounded text-white bg-black">Save</button>
        </form>
    </div>
</section>

{% endblock content %}